.search-area {
    padding: 40px;
    .search_keyword_container {
        span {
            border-radius: 50px;
            background-color: #FFFFFF;
            i {
                font-size: 18px;
                margin-left: 5px;
            }
        }
        input {
            height: 55px;
            border-radius: 50px;
        }
    }
    .search_tag_container {
        margin-top: 50px;
        h5 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        a {
            background-color: #3ea8ff;
            color: #FFFFFF;
            padding: 6px 12px;
            border-radius: 50px;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

body {
    main {
        margin-top: 120px;
        margin-bottom: 60px;
        display: flex;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        column-gap: 30px;
        .content-area {
            width: 100%;
        }
        .side-area {
            display: none;
        }
    }
}