.about-me-area {
    margin-top: 60px;
    .banner-area {
        padding: 160px 0;
        .banner-container {
            width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .profile {
                margin-top: 50px;
                margin-right: 50px;
                h2 {
                    font-weight: bold;
                    font-size: 40px;
                }
                p {
                    margin-top: 20px;
                }
            }
            .profile-img {
                img {
                    width: 400px;
                    height: auto;
                }
            }
        }
    }
    .work-area {
        padding: 90px 0;
        background-color: #FFFFFF;
        .work-container {
            width: 1000px;
            margin: 0 auto;
            h2 {
                text-align: center;
                font-size: 25px;
            }
            .flex {
                display: flex;
                flex-wrap: wrap;
                gap: 40px 50px;
                margin-top: 40px;
                .card {
                    width: 30%;
                }
            }
        }
    }
    .skill-area {
        padding: 90px 0;
        background-color: #f0f7ff;
        .skill-container {
            width: 1000px;
            margin: 0 auto;
            h2 {
                text-align: center;
                font-size: 25px;
            }
            .flex {
                display: flex;
                flex-wrap: wrap;
                gap: 40px 50px;
                margin-top: 40px;
                .skillCard {
                    width: 30%;
                }
            }
        }
    }
}