.article-edit-area {
    h2 {
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    form {
        background-color: #FFFFFF;
        padding: 30px;
        .iphone-switch {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 24px;
            margin-right: 5px;
        }
        span {
            font-size: 14px;
            font-weight: bold;
        }
        .iphone-switch input {
            display: none;
        }
        .iphone-slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 34px;
        }
        .iphone-slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
        input:checked+.iphone-slider {
            background-color: #2196F3;
        }
        input:checked+.iphone-slider:before {
            -webkit-transform: translateX(21px);
            -ms-transform: translateX(21px);
            transform: translateX(21px);
        }
    }
}