.side-container {
    padding: 25px;
    border-radius: 5px;
    background-color: #FFFFFF;
    .profile {
        display: flex;
        align-items: center;
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 15px;
        }
        h5 {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 5px;
        }
        span {
            position: relative;
            display: inline-block;
            a {
                display: inline-block;
                margin-right: 5px;
                position: relative;
                text-decoration: none;
                svg {
                    width: 18px;
                    height: 18px;
                }
                &:hover {
                    .tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .tooltip {
                position: absolute;
                top: -26px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #222222;
                color: #fff;
                padding: 5px;
                border-radius: 5px;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
                font-size: 14px;
            }
        }
    }
    p {
        margin-top: 20px;
        font-size: 14px;
    }
    .test {
        margin-top: 30px;
        background-color: aqua;
        padding: 100px 30px;
    }
}