* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #f0f7ff;
    main {
        margin-top: 60px;
        margin-bottom: 220px;
    }
}