header {
    background-color: #31373D;
    position: fixed;
    top: 0;
    width: 100%;
    .header-container {
        max-width: 1200px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        .header-logo {
            a {
                display: flex;
                align-items: center;
                img {
                    width: 130px;
                    height: auto;
                }
            }
        }
    }
}