footer {
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    ul {
        padding-top: 30px;
        display: flex;
        gap: 20px;
        justify-content: center;
        li {
            list-style: none;
            a {
                color: #333333;
                text-decoration: none;
            }
        }
    }
    p {
        padding-bottom: 30px;
        text-align: center;
    }
    hr {
        border-top: 0.5px solid #cad4dc;
        width: 90%;
        margin: 25px auto;
    }
}